<!DOCTYPE html>
<html>
<head>
  <title>Add Plants</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--For comparing if today's date is in optimal planting range for a plant-->
  <%
  function isDateInRange(today, start, end) {
    if (!start || !end) return false;
    return (start <= end && today >= start && today <= end) ||
           (start > end && (today >= start || today <= end));
    }
%>


  
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    // Action starts on typing in textbox or in-season toggle
    document.getElementById("searchbar").addEventListener("input", filterTable);
    document.getElementById("inSeasonToggle").addEventListener("change", filterTable);

    // Filters table via searchbar and in-season toggle
    function filterTable() {
      // Lowercase for easier matching
      const filter = document.getElementById("searchbar").value.toLowerCase();
      const inSeasonToggle = document.getElementById("inSeasonToggle").checked;
      //Doesn't include hidden button rows in search
      const rows = document.querySelectorAll("#almanacTable tbody tr.plantRow");

      // Tracks how many matches there are
      let rowCount = 0;

      rows.forEach(row => {
        // Only compares the name
        const firstCell = row.querySelector("td");
        const mobileRow = row.nextElementSibling;

        if (firstCell) {
          const text = firstCell.textContent.toLowerCase();
          //Check if row is in-season
          const inSeason = row.getAttribute("inSeason") === "true";

          //Show row if matches search and looks if in-season toggle is on or off (either toggle isnt on, or is in season)
          if (text.includes(filter) && (!inSeasonToggle || inSeason)) {
            row.style.display = "";
            //Makes mobile row unfiltered
            if (mobileRow && mobileRow.classList.contains("mobileRow")) {
              mobileRow.style.display = "";
            }
            rowCount++;
          } else {
            row.style.display = "none";
            if (mobileRow && mobileRow.classList.contains("mobileRow")) {
              mobileRow.style.display = "none"; //hides mobile row
          }
        }
        }
      });

      // Shows text for when table is empty
      document.getElementById("noMatches").style.display = rowCount === 0 ? "" : "none";
    }

    // Code for dropdown profile menu
    const profileButton = document.getElementById('profileButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    profileButton.addEventListener('click', (event) => {
      event.stopPropagation();
      dropdownMenu.style.display = dropdownMenu.style.display === 'flex' ? 'none' : 'flex';
    });

    document.addEventListener('click', () => {
      dropdownMenu.style.display = 'none';
    });

    dropdownMenu.addEventListener('click', (event) => {
      event.stopPropagation();
    });
  });
</script>



</head>
<body style="flex-direction: column;">
  <div class="navbar">
    <a href="/">My Garden</a>
    <a class="active" href="/addPlants">Add Plants</a>
    <a href="/FaQ">FaQ</a>
    <div class="profile">
        <button id="profileButton" style="width: auto; margin: 0px;">
            Profile
        </button>
        <div id="dropdownMenu" class="dropdown-content">
            <a href="/profileOptions">Settings</a>
            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    
  </div>

<% if (user.plantingZone !== "0" && Object.keys(plantingData).length > 0) { %>
  <div style="display: flex; flex-direction:column; justify-content: center;align-items: center; margin: 16px;">
    <h1>Showing plants for planting zone, <%= user.plantingZone %>!</h1>

    <div style="display: flex; flex-direction:row; text-align: center; align-items:center">
      <p style="margin: 8px;">All Plants</p>
      <label class="switch">
        <input type="checkbox" id="inSeasonToggle">
        <span class="slider round"></span>
      </label>
      <p style="margin: 8px;">In Season</p>
    </div>
    
  </div>

  <% if (typeof addedUpcoming !== 'undefined') { %>
    <div class="notification" style="background-color: #FFC759; padding: 8px; margin: auto; text-align:center; max-width:fit-content; border-radius: 16px;">
      <%= addedUpcoming %> added to Upcoming!
    </div>
  <% } %>
  <% if (typeof addedPlanted !== 'undefined') { %>
    <div class="notification" style="background-color: #FFC759; padding: 8px; margin: auto; text-align:center; max-width:fit-content; border-radius: 16px;">
      <%= addedPlanted %> added to garden!
    </div>
  <% } %>
  
  <input class="searchbar" type="text" id="searchbar" placeholder="Search..." style="max-width: 200px;"/>
  <table id="almanacTable">
    <thead>
      <tr>
        <th>Plant</th>
        <th>Spring Start</th>
        <th>Spring End</th>
        <th>Fall Start</th>
        <th>Fall End</th>
        <th>Days to Maturity</th>
        <th class="addPlantsButtonsDesktop">Add</th>
      </tr>
    </thead>
    <tbody>
      
      <% //Splits the organized array into two elements, the name, and the data inside
        for (let [plant, data] of plantingData) { 
          //Compares today's date to plant range to change bg color
          const inSpringRange = isDateInRange(dateToday, data.plantOutdoorsStart, data.plantOutdoorsEnd);
          const inFallRange = isDateInRange(dateToday, data.plantOutdoorsStartFall, data.plantOutdoorsEndFall);
          const inSeason = inSpringRange || inFallRange;
          %>
          
        <tr class="plantRow" inSeason="<%=inSeason%>" style="<%= inSeason ? 'background-color: #ccf3ba; color: black;' : '' %>">
          <td><%= plant %></td>
          <td><%= data.plantOutdoorsStart || "—" %></td>
          <td><%= data.plantOutdoorsEnd || "—" %></td>
          <td><%= data.plantOutdoorsStartFall || "—" %></td>
          <td><%= data.plantOutdoorsEndFall || "—" %></td>
          <td><%= data.maturityTime || "—" %></td>
          <td class="addPlantsButtonsDesktop" style="display: flex; flex-direction:row;">
            <form action="/addToGarden" method="POST">
              <input type="hidden" name="datePlanted" value="<%= new Date().toISOString().slice(0, 10) %>">
              <input type="hidden" name="name" value="<%= plant %>">
              <button type="submit" style="<%= inSeason ? 'background-color: #0F433B; color: white;' : '' %>">Planted</button>
            </form>
            <form action="/addToUpcoming" method="POST">
              <input type="hidden" name="datePlanted" value="0">
              <input type="hidden" name="name" value="<%= plant %>">
              <button type="submit" style="<%= inSeason ? 'background-color: #0F433B; color: white;' : '' %>">Upcoming</button>
            </form>
          </td>
        </tr>
        <tr class="mobileRow" inSeason="<%=inSeason%>" style="<%= inSeason ? 'background-color: #ccf3ba; color: black;' : '' %>;">
          <td colspan="6" class="addPlantsButtonsMobile" style="display:none; ">
            <div style="display:flex; flex-direction:row; justify-content:center;">
              <form action="/addToGarden" method="POST">
                <input type="hidden" name="datePlanted" value="<%= new Date().toISOString().slice(0, 10) %>">
                <input type="hidden" name="name" value="<%= plant %>">
                <button type="submit" style="<%= inSeason ? 'background-color: #0F433B; color: white;' : '' %>">Planted</button>
              </form>
              <form action="/addToUpcoming" method="POST">
                <input type="hidden" name="datePlanted" value="0">
                <input type="hidden" name="name" value="<%= plant %>">
                <button type="submit" style="<%= inSeason ? 'background-color: #0F433B; color: white;' : '' %>">Upcoming</button>
              </form>
            </div>
          </td>
        </tr>
      <% } %>
      <tr id="noMatches" style="display: none;">
        <td colspan="7" style="text-align:center; font-style: italic;">No matches found</td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <div class="login-register-form" style="margin-top: 32px;">
        <form action="/setZone" method="POST">
            <h3>Enter Your ZIP Code</h3>
            <p>This lets us determine your Plant Hardiness zone. Only your zone, not your zipcode, is saved.</p>
            <input type="text" name="zipcode" class="form-control" placeholder="e.g. 60601" required pattern="\d{5}">
            <button type="submit">Enter ZIP Code</button>
        </form>
      </div>
<% } %>
    
</body>
</html>