<!DOCTYPE html>
<html>
<head>
  <title>My Garden</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--For comparing if today's date is in optimal planting range for a plant-->
  <%
    //Same code as add plants page, but just grabs items where they are in upcoming
  let upcomingArray = user.userGarden.filter(plant => plant.datePlanted === "0");

  if (user.upcomingSort === 'date') {
  //Redefines built in sort method logic by explaining how a and b should be compared.
    upcomingArray.sort((a, b) => {
      //Gets date from element a, then date from element b in sorting. Adds '-' if no data exists for spring planting
      const aDate = plantingData[a.name].plantOutdoorsStart || "-";
      const bDate = plantingData[b.name].plantOutdoorsStart || "-";
      // Puts plants without spring planting dates (Garlic) at the bottom because negative results go later
      if (aDate === "-") return 1;
      if (bDate === "-") return -1;
      //Seperates by month and day and converts into comparable numbers
      const aMonth = Number(aDate.split("-")[0])
      const aDay = Number(aDate.split("-")[1])
      const bMonth = Number(bDate.split("-")[0])
      const bDay = Number(bDate.split("-")[1])
      //If months are different, return difference. Otherwise, return difference of days
      if (aMonth !== bMonth) return aMonth - bMonth;
      return aDay - bDay;
    });
  } else{
    //This one needs to be sorted alphabetically, but the master plants list is automatically
    upcomingArray.sort((a, b) => a.name.localeCompare(b.name));
  }

    function isDateInRange(today, start, end) {
    if (!start || !end) return false;
    return (start <= end && today >= start && today <= end) ||
           (start > end && (today >= start || today <= end));
    }
  %>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const profileButton = document.getElementById('profileButton');
      const dropdownMenu = document.getElementById('dropdownMenu');
  
      profileButton.addEventListener('click', (event) => {
        event.stopPropagation();
        dropdownMenu.style.display = dropdownMenu.style.display === 'flex' ? 'none' : 'flex';
      });
  
      document.addEventListener('click', () => {
        dropdownMenu.style.display = 'none';
      });
  
      dropdownMenu.addEventListener('click', (event) => {
        event.stopPropagation();
      });
    });
  </script>
  


</head>
<body style="flex-direction: column;">
    <div class="navbar">
        <a class="active" href="/">My Garden</a>
        <a href="/addPlants">Add Plants</a>
        <a href="/FaQ">FaQ</a>
        <div class="profile">
            <button id="profileButton" style="width: auto; margin: 0px;">
                Profile
            </button>
            <div id="dropdownMenu" class="dropdown-content">
                <a href="/profileOptions">Settings</a>
                <form action="/logout" method="GET">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
        
    </div>
    <div style="display: flex; flex-direction:column; justify-content: center;align-items: center; margin: 0;">
        <h1>Welcome, <%= user.name || user.email %>!</h1>

        <% if (user.userGarden && user.userGarden.length !== 0) { %>
            <h4>Planted</h4>
            <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Date Planted</th>
                <th>Approx Harvest</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < user.userGarden.length; i++) { 
                    const data = user.userGarden[i]; 
                    let diffDays = null;
                    let maturityDate = null;
                    let plantedDateFormatted = null;
                    let maturityDateFormatted = null;

                    /*Checks to see if plant has a maturity time value*/
                    if (typeof plantingData[data.name].maturityTime === 'number'){
                        const plantedDate = new Date(data.datePlanted)
                        maturityDate = new Date(plantedDate)
                        maturityDate.setDate(plantedDate.getDate() + plantingData[data.name].maturityTime);
                        
                        /*formats maturity date for display*/
                        const options = { weekday: 'short', month: 'short', day: 'numeric' };
                        maturityDateFormatted = maturityDate.toLocaleDateString('en-US', options);
                        plantedDateFormatted = plantedDate.toLocaleDateString('en-US', options)

                        const today = new Date()
                        const diffTime = maturityDate - today;
                        diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                    }

                    //Compares today's date to plant range to change bg color
                    if (data.datePlanted !== "0") { 
                    %>
                <tr style="<%= diffDays <= 0 && diffDays !== null ? 'background-color: #FFC759; color: black;' : '' %>">
                    <td><%= data.name %></td>
                    <td>
                        <form action="/updatePlantingDate" method="POST">
                            <input type="hidden" name="id" value="<%= data.id %>">
                            <input type="date" name="datePlanted" value="<%=data.datePlanted%>">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                      <% if (diffDays > 0 && diffDays !== null) { %>
                        <p><strong><%= diffDays %></strong> day<%= diffDays === 1 ? '' : 's' %> until harvest on <%=maturityDateFormatted%></p>
                      <% } else if (diffDays !== null){ %>
                        <p>Ready to harvest!</p>
                      <% } else { %>
                        <p>-</p>
                      <% } %>
                    </td>
                      <td>
                        <form action="/removePlant" method="POST">
                        <input type="hidden" name="id" value="<%= data.id %>">
                        <button type="submit">Delete</button>
                    </form></td>
                </tr>
                <% }} %>
            </tbody>
            </table>
        <% } else { %>
            <div class="login-register-form">
                <p>Please add plants to your garden on the "<a href="/addPlants">Add Plants</a>" page</p>
            </div>
        <% } %>

        <% if (user.userGarden && user.userGarden.length !== 0) { %>
            
            <table>
                <h4>Upcoming</h4>
            <thead>
                <tr>
                <th>Name</th>
                <th>Spring Planting Range</th>
                <th>Fall Planting Range</th>
                <th>Approx Harvest Time</th>
                <th>Plant!</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (let data of upcomingArray) { 
                    //Compares today's date to plant range to change bg color
                    const inSpringRange = isDateInRange(dateToday, plantingData[data.name].plantOutdoorsStart, plantingData[data.name].plantOutdoorsEnd);
                    const inFallRange = isDateInRange(dateToday, plantingData[data.name].plantOutdoorsStartFall, plantingData[data.name].plantOutdoorsEndFall);
                    const inSeason = inSpringRange || inFallRange;
                    %>
                <tr style="<%= inSeason ? 'background-color: #ccf3ba; color: black;' : '' %>">
                    <td><%= data.name %></td>
                    <td><%=plantingData[data.name].plantOutdoorsStart%> - <%=plantingData[data.name].plantOutdoorsEnd%></td>
                    <td><%=plantingData[data.name].plantOutdoorsStartFall%> - <%=plantingData[data.name].plantOutdoorsEndFall%></td>
                    <td><%= plantingData[data.name].maturityTime || "—" %></td>
                    <td>
                        <form action="/plantFromUpcoming" method="POST">
                        <input type="hidden" name="id" value="<%= data.id %>">
                        <input type="hidden" name="datePlanted" value="<%= data.datePlanted %>">
                        <button type="submit" style="<%= inSeason ? 'background-color: #0F433B; color: white;' : '' %>">Plant</button>
                    </form>
                    </td>
                    <td>
                        <form action="/removePlant" method="POST">
                        <input type="hidden" name="id" value="<%= data.id %>">
                        <input type="hidden" name="datePlanted" value="<%= data.datePlanted %>">
                        <button type="submit" style="<%= inSeason ? 'background-color: #0F433B; color: white;' : '' %>">Delete</button>
                    </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
            </table>
            <% } %>
    </div>
    
      </body>
      </html>
    
</body>
</html>